.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 2px 2px 15px #a1a1a1;
}
h1 {
  font-size: 1.5rem;
}
label {
  font-size: 0.8rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.colum {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}
.radios {
  flex-wrap: wrap;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  border: 1px solid rgb(182, 182, 182);
  outline: none;
  border-radius: 3px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tel {
  display: flex;
  width: 100%;
}
.DDD {
  width: 10%;
}
#tel {
  width: 100%;
}
textarea {
  margin-top: 0.5rem;
  width: 100%;
  resize: none;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid rgb(182, 182, 182);
  outline: none;
}

button {
  margin-top: 1rem;
  height: 3rem;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(38, 168, 38);
}

.error{
  color: red;
  margin-top: .2rem;
  font-size: .7rem;
}